p {
    color: red;
    letter-spacing: 2px;
    font-size: 15px;
}

.mobilenet{
    letter-spacing: 2px;
}

.img{
    margin-top: 10px;
    margin-bottom: 10px;
    height:300px;
    border-radius: 10px;
}

.white1{
    color:white;
}

b{
    color: purple;
}

.first,.second{
    background-color: white;
    border-radius: 10px;
    line-height: 2;
}

.test_image_and_result{
    margin-top: 15px;
    background-color: rgb(155, 153, 153);
    border-radius: 10px;
    border-bottom: 1px 1px 25px grey;
    width: 99%;
    margin-bottom: 15px;
}

